

body {
  /* height: 100vh; */
  background: rgb(21, 24, 28);
  color: rgba(223, 250, 249, 0.978);
  background-attachment: fixed;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing:border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



